/*prevent problems with different browsers*/
* {box-sizing: border-box;}

body {
    font-family: "Josefin Sans", serif;
    margin: 0px;
}

/*header*/
header {
    text-align: center;
    background-color: #FB62F6;
    padding: 1rem 10px;
}
header span {
    color: whitesmoke;
    font-size:1.6rem;
    font-weight:700;
}
header div {
    padding-left: 2vw;
}

.hero-image {
    max-width: 100%;
    height: auto;
}


/* navigation stuff here*/
nav {
    background-color: #645DD7;
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
}

nav a {
    display: block;
    padding: 1.2rem 1rem .3rem 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    border-bottom: none; /* no underline in normal state */
}

nav a:hover {
    color: #F2FF49;
    border-bottom: solid 2px #F2FF49; /* add underline on hover */
}

nav li.active a {
    color: #F2b705;
    border-bottom: solid 2px #645dd7; /* underline for active state */
}

main {
    padding: 1rem 10px;
}

main h1 {
    color:#efefef;
}
main h2 {
    color: #645DD7;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #efefef;
    border-radius: 10px;
    border:1px solid black;
}
main dl {    
    background-color: #efefef;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
}

main dl dt {
    color: #645dd7;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0 .5rem;
}
main dl dd {
    color: #645dd7;
    font-weight: 700;
    margin-top: 1rem;
}

main ul {
    list-style-type: upper-roman;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: black;
}
main em {
    font-weight: 400;
    color: red;
}

main address {
    font-style: normal;
    background-color: #efefef;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 200px;
}

main a {
    color: slategray;
}
main a:hover {
    color: #FB62F6;
}

/* smallscreens */
@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0 2%;
        list-style-type: none;
    }
    nav a {
        display: block;
        padding: .7rem;
        text-decoration: none;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 1px #aaa;
        border-top: solid 1px #aaa;
        color: #645dd7;
    }

    nav .active a {
        background-color: #645dd7;
        color: white;
        background-image: linear-gradient(#645dd7, #9893f4);
    }
} /*end of media query*/

/* bigscreens! */
@media only screen and (min-width: 801px) {
    nav {
        border-top: solid 1px #E0E6E6;
    }
    nav ul {
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
        display: flex;
    }
    nav a {
        display: block;
        padding: 1.2rem 1rem .3rem 1rem;
        font-size: 1rem;
        text-decoration: none;
        color: whitesmoke;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        border-bottom: solid 2px #fff;
    }

    nav .active a {
        border-bottom: solid 2px #645dd7;
    }
    nav a:hover {
        color: #F2FF49;
    }
} /*end of media query*/

.myform fieldset {
    border: 1px solid #645dd7;
    border-radius: 3px;
    margin-bottom: 1.3rem;
}

.myform legend {
    color: #645dd7;
    font-size: .8rem;
}

.myform label {
    margin: .7rem 0;
}

.myform label, 
.myform select, 
.myform [type="text"], 
.myform [type="tel"], 
.myform [type="email"], 
.myform textarea {
    display: block;
}
