body {
    font-family: "Josefin Sans", serif;
    margin: 0px;
}

/*header*/
header {
    text-align: center;
    background-color: #FB62F6;
    padding: 1rem 10px;
}
header span {
    color: whitesmoke;
    font-size:1.6rem;
    font-weight:700;
}

/* navigation stuff here*/
nav{
    background-color: #645DD7;

}
nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem .83rem;
    text-decoration: none;
    font-size: 1.3rem;
    color:#F2FF49;
    font-weight: 700;
}
nav li.active a {
    background-color: black;
    color: #F2b705;
}
nav li a:hover {
    color: white;
}

main {
    padding: 1rem 10px;
}

main h1{
    color:#000000;
}
main h2{
    color: #645DD7;
    margin-bottom: .2rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #efefef;
    border-radius: 10px;
    border:1px solid black;
}
main dl {    
    background-color: #efefef;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;

}

main dl dt {
    color: #645dd7;
    font-weight: 700;
    margin-top: 1rem;
    padding: 0 .5rem;
}
main dl dd {
    color: #645dd7;
    font-weight: 700;
    margin-top: 1rem;
}

main ul {
    list-style-type: upper-roman;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}

main strong {
    font-weight: 700;
    color: black;
}
main em {
    font-weight: 400;
    color: red;
}

main address {
    font-style: normal;
    background-color: #efefef;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 200px;
}

main a {
    color: slategray
}
main a:hover {
    color: #FB62F6
}


/* footer information here */

footer {
    background-color: #645DD7;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.3rem;
    color: white;
}

footer p {
    margin: 0px;
    letter-spacing: 5px;
}


